<form method="post">
  firstname
  <input type="text" name="firstname" />
  lastname
  <input type="text" name="lastname" />
  email :
  <input type="email" name="email" />
  <input type="submit" value="Envoyer" />
</form>
