<html>
  <head>
    <title>Users API</title>
  </head>
  <body>
    <h1>Bonjour <%= firstname %> <%= lastname %></h1>
    <% if (locals.errors) { %>
    <div><%= locals.errors %></div>
    <% } %> <%- include("./form-inscription") %>
  </body>
</html>
