.chat-msg
  border: gray solid 1px
  text-align: left
  color: grey
  & > h1
    font-weight: bold

.test
  text-align: right

.chat-sender
  color: grey

.chat-receiver
  color: grey

.chat-date
  font-size: 10px
  text-align: right

.chat
  position: fixed
  bottom: 0
  width: 55%
  left: 22.5%

.chat-textarea
  border: 3px solid black