.profil
  justify-content: center
  &-last-online
    margin-top: 8px
    margin-bottom: 8px

.slide
  padding-bottom: 20px

.liked
  background-color: #ff0490 // elle est ou la DA la ???????? ont met quelle couleur putin
