.profil
  justify-content: center
  &-content
    padding: 1rem 1rem 0 1rem
  &-last-online
    line-height: 1.1
    margin-top: 8px
    margin-bottom: 8px
  &-last-line
    display: flex
    align-items: baseline
    justify-content: space-between
  &-card
    width: auto !important
    padding: 0 5px !important
    margin: 15px 0px
  &-footer
    display: flex
    align-items: center
    justify-content: space-between

.slide
  padding-bottom: 20px
  // max-width: 200px define good taille

.icon
  margin-right: 0 !important
.tags
  margin-bottom: 0 !important

.liked
  background-color: $like

.bio
  margin-bottom: 1rem

.sexual_orientation
  padding-bottom: 25px

.popularity
  font-size: 10px
